.Header
{
    display: flex;
    width: auto;
    height: 60px;
    background-color: #00A2E1;
    flex-direction: row;
    justify-content: space-between;
}

.Left-head
{
    margin-left: 67px;
}

.Right-head
{
display: flex;
flex-direction: row;
margin-right: 80px;
margin-top: 20px;
color: white;
}

.Heart
{
    margin-right: 40px;
}

.Mail
{
    background-color: #00A2E1;
    border: none;
    color: white;
    display: flex;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}