.Cards
{
    height:auto ;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Big-banner
{
    position: relative;
}

.Banner-text
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 40%;
   left: 15%;
   color: white;


}

.Banner
{
    width: 100%;
}

.Large-text
{
    font-size: 64px;
}

.Small-font
{
    font-size: 24px;
}

.City-button
{
    text-align: center;
    font-size: 20px;
    height: 48px;
    width: 200px;
    border-radius: 12px;
    background: #3A5295;
    color: white;
    margin-left: 43%;
    margin-top: 5px;
    padding-top: 20px;
}

.Info-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.Info-details
{
    width: 360px;
    font-size: 20px;
    margin-top: 10px;
}

.Info-name
{
    font-size: 24px;
    font-weight: 500;
}